<div
  class='m-auto flex flex-col justify-center gap-8 h-full'
  {{on-key 'h' (set this 'overlay.isShowing' false)}}
>
  <div class='grid grid-cols-3 gap-0'>
    <p class='font-xs text-gray-50 col-span-4 text-center'>Longer</p>
    <div class='col-span-4 flex items-end mx-auto'>
      <div class='flex items-center w-[200px] justify-end'>
        <p class='font-xs text-gray-50'>Go to previous</p>
        <Key @key='◀' />
      </div>
      <div>
        <Key @key='▲' />
        <Key @key='▼' />
      </div>
      <div class='flex items-center w-[200px] justify-start'>
        <Key @key='▶' />
        <p class='font-xs text-gray-50'>Get the next</p>
      </div>
    </div>
    <p class='font-xs text-gray-50 col-span-4 text-center'>Shorter</p>
  </div>
  <div class='flex items-center justify-center'>
    <Key @key='R' />
    <p class='font-xs text-gray-50'>reload for new codeword</p>
  </div>
  <div class='flex items-center justify-center'>
    <Key @key='D' />
    <p class='font-xs text-gray-50'>toggle darkmode</p>
  </div>
  <div class='flex items-center justify-center'>
    <Key @key='H' />
    <p class='font-xs text-gray-50'>hide / show help</p>
  </div>
</div>
